.control-panel {
  position: fixed;
  background-color: gray;
  width: 40%;
  height: 200px;
  bottom: 0;
  right: 0; }

.rotate-0 {
  transform: rotate(0deg); }

.rotate-1 {
  transform: rotate(90deg); }

.rotate-2 {
  transform: rotate(180deg); }

.rotate-3 {
  transform: rotate(270deg); }
