.player-area {
  display: inline-block;
  height: 100%;
  width: 20%;
  float: right; }

.control-panel {
  display: flex;
  flex-flow: column nowrap;
  padding: 12px;
  border-left: 1px solid #2FAD90;
  border-top: 1px solid #2FAD90;
  background-color: white; }

.tile-img {
  background-color: #ccc;
  width: 88px;
  height: 88px;
  margin: 10px auto; }

.control-panel .button:hover {
  background-color: #2FAD90; }

.button-grid {
  margin-top: 10px; }

.button-grid button {
  width: 30px;
  height: 30px;
  margin-top: 4px;
  padding: 0;
  background-color: #2FAD90;
  border: 1px solid black;
  color: white; }

#endturn {
  background-color: #FF3300;
  color: white;
  border: 1px solid #FF3300; }

#endturn:hover {
  background-color: white;
  color: #FF3300;
  border: 1px solid #FF3300; }

.rotate-0 {
  transform: rotate(0deg); }

.rotate-1 {
  transform: rotate(90deg); }

.rotate-2 {
  transform: rotate(180deg); }

.rotate-3 {
  transform: rotate(270deg); }

.white {
  color: white; }

#ready {
  background-color: #FF3300;
  color: white;
  border: 1px solid #FF3300; }

#ready:hover {
  background-color: white;
  color: #FF3300;
  border: 1px solid #FF3300; }

.slideout {
  position: fixed;
  bottom: 0;
  right: 0%;
  width: 20%;
  height: 100%;
  padding: 12px 0;
  text-align: center;
  overflow: scroll;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -o-transition-duration: 0.3s; }
