.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px; }

.wrap {
  width: 100%;
  text-align: center; }

.btn {
  border: 1px solid black;
  padding: 5px;
  text-decoration: none; }

p {
  margin-bottom: 10px;
  color: white; }

body {
  background-color: #48589A; }

#image {
  text-align: center; }

#login {
  text-align: center; }

h1 {
  color: #F2E48A; }

h2 {
  color: white; }

#ready {
  color: green; }

#notReady {
  color: red; }

#readyStatus {
  background-color: white; }
