.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform:   translate(-50%,-50%);
     -moz-transform:   translate(-50%,-50%);
      -ms-transform:   translate(-50%,-50%);
       -o-transform:   translate(-50%,-50%);
          transform:   translate(-50%,-50%);
  width: 450px;
  background-color: blue;
}

.wrap {
  width: 100%;
  text-align: center;
}

.btn {
  border: 1px solid black;
  padding: 2px;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}