<div class="rules-modal" ng-controller="rulesCtrl">
  <div class="rulebook">
    <button ng-click="lightStyle=displayBlock;fadeStyle=displayBlock">How to Play</button>

    <div style="border:1px solid gray;" ng-style="lightStyle" ng-class="overlayClass">
      <button class="close" ng-click="lightStyle=displayNone;fadeStyle=displayNone">Close</button> 
      <iframe id="iframepdf" src="http://zmangames.com/rulebooks/Carcassonne.pdf"></iframe>
    </div>
    <div ng-style="fadeStyle" class="black_overlay">
    </div>

  </div>
</div>
