.row {
  display: inline;
  position: relative;
  list-style: none;
  top: 0;
  left: 0;
}
.cell {
  float: left;
  width: 50px;
  height: 50px;
  border: solid 1px black;
}
.pos-1 {
  position: relative;
  top: 0;
  left: 0;
}
.pos-2 {
  position: relative;
  top: 0;
  left: 15px; 
}
.pos-3 {
  position: relative;
  top: 0;
  left: 30px;
}
.pos-4 {
  position: relative;
  top: 15px;
  left: 0px;
}
.pos-5 {
  position: relative;
  top: 15px;
  left: 15px;
}
.pos-6 {
  position: relative;
  top: 15px;
  left: 30px;
}
.pos-7 {
  position: relative;
  top: 30px;
  left: 0;
}
.pos-8 {
  position: relative;
  top: 30px;
  left: 15px;
}
.pos-9 {
  position: relative;
  top: 30px;
  left: 30px;
}
.button-grid  {
  float: right;
  margin-right: 10px;
}
.button-grid button {
  width: 5px;
  height: 5px;
  padding: 8px;
  margin-left: 2px;
  margin-bottom: 2px;
  border: 1px solid black;
}
.rulebook {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.rulebook a {
  text-decoration: none;
}
.overlay {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  background: rgba(0,0,0,1);
  z-index: 1000;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.overlay:target {
  opacity: 0.9;
  pointer-events: auto;
}
.close {
  position: fixed;
  top: 32px;
  right: 32px;
  display: block;
  width: 42px;
  height: 42px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(../img/close.png) no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}
.close:hover {
  background-position: 0px -42px;
}
.content {
  margin:20% auto 0 auto;
  padding: 20px;
  width: 545px;
  height: auto;
  overflow: hidden;
}