<div class="container" ng-controller="homeCtrl">
  <h1>Carcassonne</h1>
  <p>Carcassonne, the world-famous French city, known for its imposing fortifications erected during the Antiquity and the Middle Ages. This fortress, surrounded by magnificent walls, still stands today as one of the most unique French cities.</p>

  <p>In this game, players must develop the area around Carcassonne. They will place their followers onto roads and into cities, monasteries and fields. Only those who make the most judicious placements will gain the points required to win the game.</p>

<!--   <div class="wrap">
    <a class="btn" href="#/game">Let's Play!</a>
  </div> -->

  <form name="userForm" method="POST" ng-submit="createUser()" novalidate id='userForm'>
    <input type="text" name="user" ng-model="user" placeholder="username" required id='user'>
    <input type="text" name="password" ng-model="password" placeholder="password" required id='password'>
    <select ng-model="color" ng-init="color = color || options[0].value" ng-options="option.value as option.name for option in options" id='color'></select>
    <button ng-disabled="userForm.$invalid" id='button'>Let's Play!</button>
  </form>
</div>
