<div class="control-panel slideout">

  <div id="player-tile"><br>
    <h5 id="tile-title">Tile</h5>
    <div class="tile-img">
      <img class='rotate-{{ orientation }}' src="{{src}}">
    </div> 
    <div class='rotate'>
      <button class="button" ng-click='rotate()'>Rotate: {{ orientation }}</button><br>
      <button class='endturn button' id="endturn" ng-click='endTurn()'>End Turn</button>
    </div>    
  </div>
  <hr>
  <div>
    <h5>Meeples</h5>
    <span class='hint'>*shift-click to pickup</span>
    <div class="meeple-wrap">
      <img ng-repeat="i in repeatMeeples(numMeeps) track by $index" ng-src="{{meepleColor}}">
    </div>
    <!-- <div class='button-grid' id="button-grid">
      <button id='pos-1' ng-click='cycleMeeple($event)'>&#8598;</button>
      <button id='pos-2' ng-click='cycleMeeple($event)'>&uarr;</button>
      <button id='pos-3' ng-click='cycleMeeple($event)'>&#8599;</button><br>
      <button id='pos-4' ng-click='cycleMeeple($event)'>&larr;</button>
      <button id='pos-5' ng-click='cycleMeeple($event)'>&middot;</button>
      <button id='pos-6' ng-click='cycleMeeple($event)'>&rarr;</button><br>
      <button id='pos-7' ng-click='cycleMeeple($event)'>&#8601;</button>
      <button id='pos-8' ng-click='cycleMeeple($event)'>&darr;</button>
      <button id='pos-9' ng-click='cycleMeeple($event)'>&#8600;</button><br>
    </div> -->
  </div>
  <hr>
    <div class="">
      <button class="button" onclick="window.open('http://zmangames.com/rulebooks/Carcassonne.pdf', 'newwindow', 'width=600, height=650'); return false;">How to Play</button><br>
      <button class="button" id="ready" ng-click='ready()'>ready to play</button>
    </div>
</div>